doctype html
html
  head
    meta(charset="utf-8")
    title Document
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(href="js/vide.min.js")
    script(href="js/wow.min.js")
    script(href="js/main.js")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
  
  body.no-scroll
    include preloader
    
    block content
